.body {
    font-family: "Inter";
    background-color: rgb(255, 136, 0);
}

/* шапка */
.header-link {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.20;
    color: #FFFFFF;
}

/* hero */
.hero-title {
    font-weight: 200;
    font-size: 70px;
    line-height: 1.21;
    color: #FFFFFF;
}

.hero-text {
    font-weight: 300;
    font-size: 21px;
    line-height: 1.19;
    color: #FFFFFF;
}

.hero-bth {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.20;
    color: #FFFFFF;
}

.hero-item-text {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.20;
    color: #FFFFFF;
}

.hero-item-des {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
}

.hero-button {
    font-weight: 900;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
}

.menu-title {
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
}

.menu-item-title {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
}

.menu-button {
    font-weight: 800;
font-size: 26px;
line-height: 1.19;
color: #FFFFFF;
}

.quality-title {
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 64px;
    line-height: 1.17;
    color: #FFFFFF;
}

.benefit-text {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.20;
    color: #FFFFFF;
}